<app-header></app-header>
<div class=" flex items-center justify-center w-full h-screen" style="background: url('/bg.jpg');">

   <div class=" bg-red-600 text-white capitalize p-6 font-bold text-lg rounded-tl-2xl rounded-bl-2xl"
      [ngClass]="{'hide':!invalidForm, 'show':invalidForm}">
      Please complete all required fields before submitting &nbsp; &nbsp; &nbsp; &nbsp;
      <button title="close" (click)="CloseErrorPopUp()"><i class="fa-solid fa-chevron-right"></i><i
            class="fa-solid fa-chevron-right"></i></button>
   </div>

   <div class=" bg-red-600 text-white capitalize p-6 font-bold text-lg rounded-tl-2xl rounded-bl-2xl"
      [ngClass]="{'hide':!wrongCredentials, 'show':wrongCredentials}">
      Wrong Credentials &nbsp; &nbsp; &nbsp; &nbsp;
      <button title="close" (click)="hideWrongCredentialError()"><i class="fa-solid fa-chevron-right"></i><i
            class="fa-solid fa-chevron-right"></i></button>
   </div>

   <div class=" w-96 bg-white px-6 py-6 rounded-lg shadow-stone-400 shadow-md max-w-96">
      <div class="mb-5">
         <h2 class="text-3xl font-medium">Log in</h2>
         <small>Don't have an account? <a class="text-purple-600 underline hover:cursor-pointer"
               routerLink="/signup">Signup here</a></small>
      </div>
      <form [formGroup]="loginForm" (submit)="OnLogin()">

         <div class="mb-5">
            <label for="email" class=""><small class="block text-sm font-medium ml-3 mb-1">Email Address</small></label>
            <input type="email" formControlName="email" id="email"
               class="border-solid border rounded-xl w-full py-1.5 focus:outline-1 outline-sky-400 px-3">
         </div>


         <div class="mb-5">
            <label for="password" class=""><small class="block text-sm font-medium ml-3 mb-1">Password</small></label>
            <div class="relative">
               <input type="password" formControlName="password" id="password"
                  class="border-solid border rounded-xl w-full py-1.5 focus:outline-1 outline-sky-400 px-3" #password>
               @if (passwordUnseenMode) {
               <button class="fa-solid fa-eye-slash"
                  style="position: absolute; top: 50%; right: 2%; transform: translate(-50%,-50%);"
                  (click)="SeePassword(password)"></button>
               }@else {
               <button class="fa-solid fa-eye"
                  style="position: absolute; top: 50%; right: 2%; transform: translate(-50%,-50%);"
                  (click)="hidePassword(password)"></button>
               }
            </div>
         </div>

         <div class="flex items-start space-x-2 ">
            <input type="checkbox" formControlName="rememberMe" id="check" class="mt-1">
            <label for="check" class="text-sm font-semibold block"> Remember me on this device</label>
         </div>
         <button class="w-full bg-blue-700 py-2 text-white capitalize mt-4 rounded-3xl" type="submit">log in</button>

      </form>

      <a class="text-blue-600 block underline hover:cursor-pointer text-center mt-3">Forgot Password</a>

   </div>

</div>