<div class="flex items-center justify-center w-full h-screen" style="background: url('/bg.jpg');">

   <div class=" bg-white px-6 py-6 rounded-lg shadow-stone-400 shadow-md max-w-96">
      <div class="mb-5">
         <h2 class="text-3xl font-medium">Sign Up</h2>
         <small>Create an account or <a class="text-purple-600 underline hover:cursor-pointer" routerLink="/login">Sign in</a></small>
      </div>

      <div class="mb-5">
         <label for="email" class=""><small class="block text-sm font-medium ml-3 mb-1">Email Address</small></label>
         <input type="email" name="" id="email"
            class="border-solid border rounded-xl w-full py-1.5 focus:outline-1 outline-sky-400 px-3">
      </div>

      <div class="mb-5">
         <label for="username" class=""><small class="block text-sm font-medium ml-3 mb-1">Username</small></label>
         <input type="text" name="" id="username"
            class="border-solid border rounded-xl w-full py-1.5 focus:outline-1 outline-sky-400 px-3">
      </div>


      <div class="mb-5">
         <label for="email" class=""><small class="block text-sm font-medium ml-3 mb-1">Password</small></label>
         <div class="relative">
            <input type="password" name="" id="email"
               class="border-solid border rounded-xl w-full py-1.5 focus:outline-1 outline-sky-400 px-3" #password>
            @if (passwordUnseenMode) {
            <button class="fa-solid fa-eye-slash"
               style="position: absolute; top: 50%; right: 2%; transform: translate(-50%,-50%);"
               (click)="SeePassword(password)"></button>
            }@else {
            <button class="fa-solid fa-eye"
               style="position: absolute; top: 50%; right: 2%; transform: translate(-50%,-50%);"
               (click)="hidePassword(password)"></button>
            }
         </div>
      </div>

      <div class="mb-5">
         <label for="retypePassword" class=""><small class="block text-sm font-medium ml-3 mb-1"> Retype
               Password</small></label>
         <div class="relative">
            <input type="password" name="" id="retypePassword"
               class="border-solid border rounded-xl w-full py-1.5 focus:outline-1 outline-sky-400 px-3"
               #retypePassword>
            @if (retypePasswordUnseenMode) {
            <button class="fa-solid fa-eye-slash"
               style="position: absolute; top: 50%; right: 2%; transform: translate(-50%,-50%);"
               (click)="SeeRetypedPassword(retypePassword)"></button>
            }@else {
            <button class="fa-solid fa-eye"
               style="position: absolute; top: 50%; right: 2%; transform: translate(-50%,-50%);"
               (click)="hideRetypedPassword(retypePassword)"></button>
            }
         </div>
      </div>

      <div class="flex items-start space-x-2 ">
         <input type="checkbox" name="" id="check" class="mt-1">
         <label for="check" class="text-sm font-semibold block"> I do not Want to receive Emails with advertising
            news,suggestions or marketing promotions</label>
      </div>
      <button class="w-full bg-blue-700 py-2 text-white capitalize mt-4 rounded-3xl">sign up</button>

      <small class="text-gray-400 text-center block mt-3 px-2">By signing up to Create an account, you are accepting our
         terms of service and privacy policy
      </small>

   </div>

</div>