<app-header></app-header>



   <div class="flex items-center justify-center flex-row flex-wrap">
      @for (post of SlicedPosts; track $index){
      <div class=" bg-slate-100 shadow-sm border-solid border-2 rounded-md m-3 p-3 w-80 h-96 relative hover:cursor-pointer" (click)="postClicked(post.id)">
        <div class="flex items-center justify-between my-4">
         <small class="bg-black text-white rounded-3xl px-4 font-sans font-medium text-l"> Id : &nbsp; {{post.id}}</small>
         <small class="bg-green-700 text-white rounded-3xl px-4 font-sans font-medium text-l"> User Id : &nbsp; {{post.userId}}</small>
        </div>

         <p class="text-md font-medium">{{post.title}}</p>
         <p class="font-thin">{{post.body}}</p>

         <div class="flex items-center justify-end absolute bottom-0 right-0">
            <small class="bg-yellow-600 text-white rounded-3xl px-4 font-sans font-medium mb-3 mr-3"> <i class="fa-solid fa-comment"></i></small>
         </div>
      </div>

   }
   </div>


<mat-paginator [length]="paginatorLength" [pageSize]="postsPerPage" [pageSizeOptions]="paginatorPageSizeOptions"
   [pageIndex]="currentPage - 1" (page)="onChangedPage($event)" aria-label="Select page">
</mat-paginator>