<div class="flex background">
   <img src="/home-bg.jpg" alt="" class="w-7/12 h-screen object-cover skew-x-12 relative -left-24">
   <div class="flex-1 h-screen text-white flex items-center justify-center">
      <div class="-mt-14 -ml-14">
         <h2 class="font-bold text-9xl">Welcome</h2>
         <p class="font-semibold text-3xl pt-3">Connect and share your thoughts! </p>
         <span class="font-sans pt-2 block">Log in or sign up to explore personalized posts, each with engaging
            content.</span>

         <div class=" flex items-center justify-start mt-8">
            <a routerLink="/login"
               class="flex items-center justify-center space-x-2 bg-indigo-600 text-white py-2 px-4 rounded-md shadow mr-10">
               <i class="fa-solid fa-sign-in-alt"></i>
               <span>Login</span>
            </a>

            <a routerLink="/signup" class="flex items-center justify-center space-x-2 bg-black text-white py-2 px-4 rounded-md shadow">
               <i class="fa-solid fa-user-plus"></i>
               <span>Sign Up</span>
            </a>
         </div>
                  <a class="bg-orange-500 mt-6  rounded-md w-1/2 text-center  py-3 text-xl inline-block hover:cursor-pointer" routerLink="/posts">View Posts</a>

      </div>

   </div>
</div>